@media screen and (max-width: 600px) {
    .App {
        margin: 0;
        padding: 0;
        height: 100dvh;
        text-align: center;
        background-image: url("./assets/background.jpg");
        background-size: cover 120%;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 601px) {
    .App {
        margin: 0;
        padding: 0;
        height: 100vh;
        text-align: center;
        background-image: url("./assets/background.jpg");
        background-size: cover 120%;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
}
