.App {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    background-image: url("./assets/background.jpg");
    background-size: cover 120%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
